{{#if @isOpen}}
  <div id="popup-overlay">
    <div class="login">
        <form {{on "submit" this.login}}>
      <div class="login-header">
        Login<i {{on "click" this.toggleLoginPopup}} class="close fa-solid fa-xmark"></i>
      </div>
      <div class="login-content">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" {{on "change" (fn this.update "username")}} />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" {{on "change" (fn this.update "password")}} />
        </div>
      </div>
      <div class="login-footer">
        <input type="submit" class="btn btn-secondary" value="Login"/>
        {{#if this.error}}
        <div class="error-message">
        <span class="error-text">Login failed: Reason - {{this.error}}</span>
        </div>
        {{/if}}
      </div>
      </form>
    </div>
  </div>
{{/if}}