{{page-title "Index"}}
<div class="container my-5">
  <h2>Advisors {{#if this.session.isAuthenticated}}<LinkTo @route="advisor.edit" @model="new"><button class="btn btn-secondary" type="button">Create<i class="px-1 fa-solid fa-plus"></i></button></LinkTo>{{/if}}</h2> 

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sin</th>
          <th>Health Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        {{#each this.model as |advisor|}}
        {{#if (gt advisor.id 0)}}
          <tr>
            <td>{{advisor.fullName}}</td>
            <td>{{advisor.sin}}</td>
            <td><Healthbar @healthStatus={{advisor.displayHealthStatus}} /></td>
            <td>
                <LinkTo @route="advisor.view" @model="{{advisor.id}}">
                <button
                type="button"
                class="btn btn-secondary"
              >View</button>
              </LinkTo>
              {{#if this.session.isAuthenticated}}
              <LinkTo @route="advisor.edit" @model="{{advisor.id}}">
              <button
                type="button"
                class="btn btn-secondary"
              >Edit</button>
              </LinkTo>
              <button {{on "click" (fn this.deleteAdvisor advisor)}}
                type="button"
                class="btn btn-danger"
              >Delete</button>
              {{/if}}
            </td>
          </tr>
          {{/if}}
        {{/each}}
        
      </tbody>
    </table>
  </div>
</div>
<script>

</script>
